:host {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card {
    width: 1165px;
    height: 461px;
    margin-top: 3%;
    box-sizing: border-box;
    display: flex;

    &--img {
        width: 729px;
        box-shadow: 5px 10px 20px rgba(51, 51, 51, 0.25);
        border-radius: 0px 0px 0px 5px;

        img {
            width: 729px;
            height: 461px;
            object-fit: cover;
            border-radius: 0px 0px 0px 5px;
        }
    }

    &--description {
        width: 436px;
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #e5e5e5;
        box-shadow: 5px 5px 20px rgba(51, 51, 51, 0.25);
        border-radius: 0px 5px 5px 0px;
    }
}

.card--description {
    &--title {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        p:first-child {
            font-size: 24px;
            font-weight: bold;
            line-height: 28px;
            margin: 0;
        }
        p:last-child {
            color: #828282;
            font-size: 10px;
            line-height: 12px;
            margin: 0;
        }
    }

    &--info {
        margin-top: 3em;

        p:first-child {
            font-size: 14px;
            line-height: 16px;
        }

        p:last-child {
            font-size: 12px;
            line-height: 14px;
            color: #828282;
        }
    }

    &--statistics {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            margin-right: 1em;
        }
    }
}

.card--description--statistics {
    .views,
    .likes,
    .dislikes,
    .comments {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2em;
        
        img {
            max-width: 20px;
            max-height: 13px;
            margin-right: 0.3em;
        }
    }
}

.back {
    width: 32px;
    height: 32px;
    margin-top: 3%;
    border: none;
    background-color: #2F80ED;
    background-image: url('../../../../assets/images/back.svg');
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    border-radius: 5px 0px 0px 5px;

    &:hover {
        cursor: pointer;
    }
}
