:host{
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 350px;
    height: 250px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    padding: 2em;
    display: flex;
    flex-direction: column;
    font-size: 10px;

    p {
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
        margin: 0;
        padding: 0;
    }

    .input {
        width: 304px;
        height: 37px;
        border: none;
        background-color: #e0e0e0;
        color: #000000;
        line-height: 12px;
    }

    .submit {
        width: 124px;
        height: 30px;
        align-self: flex-end;
        margin-top: 1.5em;
        background-color: #2f80ed;
        border-radius: 5px;
        font-size: 12px;
        line-height: 14px;
        color: #ffffff;
        display: flex;
        justify-content: center;
    }

    label {
        color: #828282;
        line-height: 12px;
        margin: 1.5em 0 0.5em 0;
    }
}