.search-results-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 1em;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.noResults {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}