.filter-container {
    display: flex;
    justify-content: center;

    span {
        margin: 0 0.5em 0 1.5em;
        color: #2f80ed;
        font-size: 12px;
        line-height: 14px;
        text-decoration-line: underline;
        &:hover,
        &:focus {
            cursor: pointer;
            font-size: 14px;
            font-weight: bold;
            color: darkblue;
        }
    }

    span.active {
        background-color: lightblue;
        color: darkblue;
        font-weight: bold;
        font-size: 14px;
    }
}